{% extends 'homes/base.html' %}

{% block conteudo %}
{% include 'home/partials/_nav.html' %}


  <div class="container-md mx-auto mt-5">
    <div class="row p-2">

      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>
      <div class="col">
        {% include 'home/partials/_cards.html' %}
      </div>


    </div>
  
    
  </div>

{% endblock conteudo %}