{% extends 'homes/base.html' %}

{% block conteudo %}
{% include 'home/partials/_nav.html' %}


<div class="container-md mx-auto">
    <div class="row p-2 mt-5">
      <div class="card bg-dark text-black">
        <img src="{{videos.imagem.url}}" class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">{{videos.titulo}}</h5>
          <p class="card-text">{{videos.descricao}}</p>
          <p class="card-text">{{videos.tempo}} Minutos </p>
        </div>
      </div>
    </div>
  
    
  </div>
{% endblock conteudo %}
