<div class="row">
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <a href="{% url 'polls:video' %}" class="text-decoration-none"><h7 class="card-title ">Author</h7></a>   
      <p class="text-start"><a href="{% url 'polls:video' %}" class="text-decoration-none"><h7 class="card-title text-decoration-none">Categorys</h7></a></p>   
      <p class="card-text">Some quick example text to build on the card title and  up the  of the card's content.</p>
      <a href="{% url 'polls:home' %}" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>